{% extends 'AlterationsApp/base.html' %}

{% block content %}
    
    <article>
        <h2>Welcome! This site is still under construction.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptates earum porro explicabo nisi? Aliquam quidem voluptatum, culpa dolor minus accusantium saepe officia animi earum nemo est facilis, exercitationem iste eaque quod iure. Maiores, laudantium esse ullam voluptatum corrupti ut.</p>
    </article>
    
    <!-- testing out buttons with bootstrap -->
    <!-- <section>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Request Alteration</button>
            <button class="btn btn-primary" type="button">Check Status on Orders</button>
        </div>
    </section> -->
    
{% endblock %}
