<!-- this page will show the details for a user's specific order. it is reached through clicking an order -->
 <!-- on the order_list page -->
{% extends 'AlterationsApp/base.html' %}

{% block content %}
    <a class="btn btn-primary back-button" href="javascript:history.back()">Back</a>

    <article class="order">
        <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Order ID: {{ order.id }}
                    {% if order.customer_name == request.user %}
                        {% if order.status == 'pending' or order.status == 'in_progress' %} 
                            <form method="Post" action="{% url 'cancel_order' pk=order.pk %}">{% csrf_token %}
                                <button type="submit" class="save btn btn-dark" name="cancel">Cancel Order</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ order.item }}: {{ order.alteration_type }}</h5>
                    <p class="card-text">Material: {{ order.material }}</p>
                    <p class="card-text">Description: {{ order.description|linebreaksbr }}</p>
                    <h5 class="card-title">Measurements:</h5>
                    <p class="card-text">Chest: {{ order.chest }}</p>
                    <p class="card-text">Waist: {{ order.waist }}</p>
                    <p class="card-text">Hips: {{ order.hips }}</p>
                    <p class="card-text">Inseam: {{ order.inseam }}</p>
                    <p class="card-text">Order status: {{ order.get_status_display }}</p>
                    <div class="progress border border-black" style="height: 40px;">
                        {% if order.status != 'cancelled' and order.status != 'complete' %}
                            <div class="progress-bar border border-black {% if order.status == 'pending' %} bg-info progress-bar-striped progress-bar-animated {% else %} bg-info-subtle {% endif %}" role="progressbar" aria-label="Segment one" style="width: 25%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <p class="{% if order.status == 'pending' %}progress-bar-text-current{% else %}progress-bar-text{% endif %}">Pending</p>
                            </div>
                            {% if order.status == 'in_progress' or order.status == 'ready' %}
                                <div class="progress-bar border border-black {% if order.status == 'in_progress' %} bg-warning progress-bar-striped progress-bar-animated {% else %} bg-warning-subtle {% endif %}" role="progressbar" aria-label="Segment two" style="width: 25%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <p class="{% if order.status == 'in_progress' %}progress-bar-text-current{% else %}progress-bar-text{% endif %}">In Progress</p>
                                </div>
                            {% endif %}
                            {% if order.status == 'ready' %}
                                <div class="progress-bar border border-black bg-ready-for-pickup progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Segment three" style="width: 25%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <p class="{% if order.status == 'ready' %}progress-bar-text-current{% else %}progress-bar-text{% endif %}">Ready for Pickup</p>
                                </div>
                            {% endif %}
                        {% elif order.status == 'complete' %}
                            <div class="progress-bar bg-success" role="progressbar" aria-label="Segment one" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <p class="progress-bar-text-current">Order complete!</p>
                            </div>
                        {% elif order.status == 'cancelled' %}
                            <div class="progress-bar bg-secondary" role="progressbar" aria-label="Segment one" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <p class="progress-bar-text-current">Order cancelled</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if user.is_staff %}
                <div class="card-footer">
                            {% if order.assigned_staff is None %}
                            <form method="Post" action="{% url 'accept_order' pk=order.pk %}">{% csrf_token %}
                                <button type="submit" class="save btn btn-primary" name="accept">Accept Order</button>
                            </form>
                            {% else %}
                                <p class="card-text">Assigned staff: {{ order.assigned_staff }}</p>
                            {% endif %}
                        </div>
                {% endif %}
            </div>
    </article>

{% endblock %}